body{
    color: silver;
    background-image: url("../Photos/d9e9452a1c050dcd0b560ca034173af0.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: left;
}
table {
    border-collapse: collapse;
    border: black 1px solid;
}
td {
    border: black 1px solid;
  }
.Canciones{
    font-weight: bold;
    font-style: italic;;
}
#Muerte{
    font-style: italic;;
}
